* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.top-nav {
    position: fixed;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: inline-block;
}

.top-nav ul{
    margin: 15px 20px;
    text-align: right;
    float: right;
}

.top-nav ul li {
    margin: 25px 5px 25px;
    display: inline-block;
    font-size: 18px;
}

.top-nav a {
    color: black;
    text-decoration: none;
}

.top-nav p {
    margin: 25px;
    float: left;
    font-size: 28px;
}

.bold {
    font-weight: 900;
}
